<%- model_class = GalaxyMacau -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:contact) %>:</strong></dt>
  <dd><%= @galaxy_macau.contact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:openid) %>:</strong></dt>
  <dd><%= @galaxy_macau.openid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @galaxy_macau.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @galaxy_macau.time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              galaxy_macaus_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_galaxy_macau_path(@galaxy_macau), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              galaxy_macau_path(@galaxy_macau),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
