<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t 'logs' %></h1>
  <%= search_form_for @search do |f| %>
  <%= f.label :ip %>
  <%= f.search_field :ip_cont %>
  <%= f.label :distance %>
  <%= f.search_field :distance_cont %>
  <%= f.label :date %>
  <%= f.search_field :date_cont %>
  <%= f.submit "search" %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:uuid) %></th>
      <th><%= model_class.human_attribute_name(:major) %></th>
      <th><%= model_class.human_attribute_name(:minor) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%= model_class.human_attribute_name(:ip) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td><%= log.uuid %></td>
        <td><%= log.major %></td>
        <td><%= log.minor %></td>
        <td><%= log.distance %></td>
        <td><%= log.ip %></td>
        <td><%= log.date %></td>
        <td><%= log.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
