<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:uuid) %></th>
      <th><%= model_class.human_attribute_name(:major) %></th>
      <th><%= model_class.human_attribute_name(:minor) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%= model_class.human_attribute_name(:ip) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td><%= log.uuid %></td>
        <td><%= log.major %></td>
        <td><%= log.minor %></td>
        <td><%= log.distance %></td>
        <td><%= log.ip %></td>
        <td><%= log.date %></td>
        <td><%= log.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @logs %>
